.todo-panel .iconfont {
    font-size: 20px;
    margin-right: 15px;
}

.todo-panel .panel-body {
    padding: 0;
}

.todo-panel .panel-body li {
    cursor: move;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.todo-panel .panel-heading i.icon-select{
    color: #d9d9d9;
}
